/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-default.min.css";

h1 {
  margin: calc(1.5 * var(--universal-margin)) calc(1.5 * var(--universal-margin));
}

.card-wrapper {
  padding-left: 0;
  padding-right: calc(5 * var(--universal-margin));
  padding-bottom: calc(5 * var(--universal-margin));
  max-width: 100%;
}

.card {
  margin: 0;
  padding: calc(1.5 * var(--universal-padding));
  max-width: 100%;
  height: 100%;
}

.mb-uni {
  margin-bottom: calc(1.5 * var(--universal-padding));
}

button {
  margin: calc(var(--universal-margin) / 2);
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

.d-flex .tag {
  flex: 0 1 content;
  margin-bottom: 4px;
}
